<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>

    <head>
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <title>GeekBlog|
        {% block title %}{% endblock %}</title>
    </head>
    <body>
<style type="text/css">
body{
  background-size: 100%;
  background-color: aquamarine;
}
</style>
<nav class="navbar navbar-inverse  navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">GeekBlog</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li class="focus"><a href="#">Home</a></li>
      <li><a href="/register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="/"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>
<br>
<br>
<br>

        <h1>{% block head %}{% endblock %}</h1>
        {% block content %}{% endblock %}

    </body>
</html>